

/*Reset*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#34568B;
    color: #000;
    font-size: 1.6rem;
    font-weight: 600; 
}

/* styling class container */
.container{
    background-color: #0f49c7;
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-width:700px;
    border-radius: 4px;
    margin:0 auto;
    padding: 25px;
    margin-top: 30px;
    
}

/* styling html headers */
h2 {
    color:#fff;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

/* styling form labels  */

label {
    display: block;
    color:#f5f4f2c7;
    font-size: 2rem;
    margin: 0 auto;
}

/* 
styling form inputs */

input[type=text],
input[type=email],
input[type=password]{

    padding:25px;
    width: 90%;
    border-radius: 4px solid red;
    border:none;
    border-radius: 5px;
    margin: 15px;
}


/* Styling form buttons */

button{
    padding: 15px 30px;
    border-radius: 6px;
    border: none;
    display: block;
    margin: 20px;

}


/* Hover effect for the buttons */
button:hover,
button:focus{
    background-color: rgb(227, 65, 64);

}

